{% extends 'core/base.html '%}
{% load static %}
{% block content %}
<div class=" mt-5  ">
    <div class="text-center">
        <img src="{% static 'core/images/r.jpg'%}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
    </div>
    
 <div class="mt-5 mx-5 text-justify" >
    <h1 class="font-weight-bold st-font">Hello,</h1>
    <div class="px-4 st-font" style="line-height: 2rem; ;">
        <p style="text-indent :100px;">I am <b 
        class="text-warning st-font">Amber Heard</b> havin fine years experience of full-stack web development for global business,
        I offer the technical expertise you are seeking for your web developer position,</p>
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quisquam cum dolor dolores recusandae voluptate provident tempora iste totam vero odio temporibus earum sapiente quo nesciunt ab illum aliquam, aut eos. Ipsum accusantium eveniet rerum eos voluptas inventore ipsam sapiente officiis. 
        </p>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Blanditiis dicta est alias doloremque earum ratione sint autem molestiae iste vitae magnam consequuntur inventore sapiente, perferendis id numquam cumque nulla a rem! Neque tempora cumque necessitatibus in ut sapiente vel reiciendis.
        </p>
    </div>
 </div>
 <div class="text-center">
    <a href="" class="btn btn-outline-warning  my-3 mr-5">Hire Me</a>
    <a href="" class="btn btn-outline-info  my-3">Contact</a>

 </div>
 
</div>

{% endblock content %}